.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  width: 100%;
}

.me-img {
  width: 100%;
  max-width: 20rem;
}

.download {
  text-decoration: underline;
}
