.header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: blur(10px);
}

.header-name {
  font-family: PP Neue Montreal Bold;
  mix-blend-mode: darken;
}

.rs-wrapper {
  text-align: end;
}

.page-btn {
  font-family: PP Neue Montreal Medium;
  text-transform: uppercase;
}

.back-btn {
  font-family: PP Neue Montreal Book;
  text-transform: uppercase;
}

.back-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
