/* 
https://i.ibb.co/4K7137K/resized-images-01.webp
https://i.ibb.co/4Zs6W1w/resized-images-02.webp
https://i.ibb.co/qmSpR1V/resized-images-03.webp
https://i.ibb.co/3cYrTvY/resized-images-04.webp
https://i.ibb.co/v3WgwPn/resized-images-05.webp
https://i.ibb.co/xL9DvWT/resized-images-06.webp
https://i.ibb.co/Y3RqngL/resized-images-07.webp
https://i.ibb.co/LhpCgWw/resized-images-08.webp
https://i.ibb.co/SDkg4z9/resized-images-09.webp
https://i.ibb.co/6wBXwVT/resized-images-10.webp
https://i.ibb.co/QrTs7JB/resized-images-11.webp
https://i.ibb.co/KGNBjkm/resized-images-12.webp
https://i.ibb.co/cQ2NrS0/resized-images-13.webp
https://i.ibb.co/175dwMW/resized-images-14.webp
https://i.ibb.co/LQTnc86/resized-images-15.webp
https://i.ibb.co/4SqS5HK/resized-images-16.webp
https://i.ibb.co/khWXjqR/resized-images-17.webp
https://i.ibb.co/kH5fJ3x/resized-images-18.webp
https://i.ibb.co/Cvbx2zF/resized-images-19.webp
https://i.ibb.co/Tgf0XW2/resized-images-20.webp
https://i.ibb.co/sbVqCHx/resized-images-21.webp
https://i.ibb.co/4JhkpBJ/resized-images-22.webp
https://i.ibb.co/nQP0WZF/resized-images-23.webp
https://i.ibb.co/hd5mMDD/resized-images-24.webp
*/

.cursor-hover-bgf {
  cursor: url(https://i.ibb.co/4K7137K/resized-images-01.webp), auto;
}
.cursor-hover-greengrove {
  cursor: url(https://i.ibb.co/4Zs6W1w/resized-images-02.webp), auto;
}
.cursor-hover-3 {
  cursor: url(https://i.ibb.co/qmSpR1V/resized-images-03.webp), auto;
}
.cursor-hover-flammen {
  cursor: url(https://i.ibb.co/3cYrTvY/resized-images-04.webp), auto;
}
.cursor-hover-devils {
  cursor: url(https://i.ibb.co/v3WgwPn/resized-images-05.webp), auto;
}
.cursor-hover-wedding {
  cursor: url(https://i.ibb.co/xL9DvWT/resized-images-06.webp), auto;
}
.cursor-hover-walker2 {
  cursor: url(https://i.ibb.co/Y3RqngL/resized-images-07.webp), auto;
}
.cursor-hover-walker1 {
  cursor: url(https://i.ibb.co/LhpCgWw/resized-images-08.webp), auto;
}
.cursor-hover-9 {
  cursor: url(https://i.ibb.co/SDkg4z9/resized-images-09.webp), auto;
}
.cursor-hover-scale {
  cursor: url(https://i.ibb.co/6wBXwVT/resized-images-10.webp), auto;
}
.cursor-hover-chair {
  cursor: url(https://i.ibb.co/QrTs7JB/resized-images-11.webp), auto;
}
.cursor-hover-12 {
  cursor: url(https://i.ibb.co/KGNBjkm/resized-images-12.webp), auto;
}
.cursor-hover-record {
  cursor: url(https://i.ibb.co/cQ2NrS0/resized-images-13.webp), auto;
}
.cursor-hover-kumiko {
  cursor: url(https://i.ibb.co/175dwMW/resized-images-14.webp), auto;
}
.cursor-hover-cdbranding {
  cursor: url(https://i.ibb.co/LQTnc86/resized-images-15.webp), auto;
}
.cursor-hover-manifest {
  cursor: url(https://i.ibb.co/4SqS5HK/resized-images-16.webp), auto;
}
.cursor-hover-grace {
  cursor: url(https://i.ibb.co/khWXjqR/resized-images-17.webp), auto;
}
.cursor-hover-fwd {
  cursor: url(https://i.ibb.co/kH5fJ3x/resized-images-18.webp), auto;
}
.cursor-hover-eva {
  cursor: url(https://i.ibb.co/Cvbx2zF/resized-images-19.webp), auto;
}
.cursor-hover-ept {
  cursor: url(https://i.ibb.co/Tgf0XW2/resized-images-20.webp), auto;
}
.cursor-hover-macropad {
  cursor: url(https://i.ibb.co/sbVqCHx/resized-images-21.webp), auto;
}
.cursor-hover-bedside {
  cursor: url(https://i.ibb.co/4JhkpBJ/resized-images-22.webp), auto;
}
.cursor-hover-23 {
  cursor: url(https://i.ibb.co/nQP0WZF/resized-images-23.webp), auto;
}
.cursor-hover-couch {
  cursor: url(https://i.ibb.co/hd5mMDD/resized-images-24.webp), auto;
}
