* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: PP Neue Montreal Medium;
  font-size: 3rem;
  line-height: 0.8;
}

.main {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 300vh;
  display: flex;
  justify-content: start;
  padding: 5rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  gap: 1rem;
}

.hero-img {
  width: 80vw;
  height: fit-content;
}

.hero-text {
  margin: 4rem 0;
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  pointer-events: none;
  backdrop-filter: blur(0.9px);
  opacity: 80%;
}
