@font-face {
  font-family: commitmono-regular;
  src: url('./assets/fonts/CommitMono-400-Regular.otf');
}
@font-face {
  font-family: commitmono-bold;
  src: url('./assets/fonts/CommitMono-700-Regular.otf');
}
@font-face {
  font-family: auxmono;
  src: url('./assets/fonts/AuxMono.otf');
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Book'),
    url('./assets/fonts/ppneue/ppneuemontreal-book.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Italic';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Italic'),
    url('./assets/fonts/ppneue/ppneuemontreal-italic.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Thin'),
    url('./assets/fonts/ppneue/ppneuemontreal-thin.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Medium'),
    url('./assets/fonts/ppneue/ppneuemontreal-medium.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src: local('PP Neue Montreal Bold'),
    url('./assets/fonts/ppneue/ppneuemontreal-bold.woff') format('woff');
}

:root {
  font-family: PP Neue Montreal Medium, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;

  color: #000000;
  background-color: #e1dfdd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
